$name-block:                 'grd' !default // Grid namespace. Every class will start with this string, please keep it short
$name-element-container:     'ct'  !default
$name-element-row:           'rw'  !default
$name-element-col:           'cl'  !default

$column-number:              12    !default
$container-offset:           10px  !default //space between viewport and content
$gutter:                     10px  !default //space between column and column